{
  "openapi": "3.0.0",
  "info": {
    "title": "DevInsight OpenAPI",
    "description": "\n## 安全规范\n\n调用 API 必须遵循以下规则：\n\n1. 提交方式: 采用 POST 方法提交\n2. 数据格式: 提交和返回数据都为 JSON 格式\n3. 签名要求: 所有请求均需要校验签名\n4. 签名算法: MD5,SHA256\n\n## 签名算法\n\n### 签名生成的通用步骤如下：\n\n1. 设所有发送或者接收到的数据为集合 M，将集合 M 内的参数按照参数名 ASCII 码从小到大排序（字典序），使用 URL 键值对的格式\n   （即 key1=value1&key2=value2…）拼接成字符串 stringA。\n\n```\n特别注意以下重要规则：\n◆ 参数名 ASCII 码从小到大排序（字典序）；\n◆ 参数中 appid 和 nonce_str 随机码为必输\n◆ 参数中如有数组或对象属性，用 JSON.stringify()转换字符后参与拼接\n◆ JSON 化的数组和对象需要删除额外的换行和空格，如不能是 {\"a\": \"test\", \"b\": \"test\"}，需要是 {\"a\":\"test\",\"b\":\"test\"}\n```\n\n2. 在 stringA 最后拼接上 key=appsecret 得到 stringSignTemp 字符串，并对 stringSignTemp 进行 MD5 运算，再将得到的\n   字符串所有字符转换为大写，得到 sign 值 signValue。\n\n### 举例：\n\n假设传送的参数如下：\n\n```\nappid： wxd930ea5d5a258f4f\nmch_id： 10000100\ndevice_info： 1000\nbody： { a: \"test\" }\nnonce_str： ibuaiVcKdpRxkhJA\n```\n\n第一步：对参数按照 key=value 的格式，并按照参数名 ASCII 字典序排序如下：\n\n  stringA=\"appid=wxd930ea5d5a258f4f&body={\"a\":\"test\"}&device_info=1000&mch_id=10000100&nonce_str=ibuaiVcKdpRxkhJA\";\n\n第二步：拼接 API 密钥：\n\n```\nstringSignTemp=stringA+\"&key=192006250b4c09247ec02edce69f6a2d\"\nsign=MD5(stringSignTemp).toUpperCase()=\"9A0A8659F005D6984697E2CA0A9CF3B7\" //注：MD5签名方式\n```\n\nHASH算法的选择可以通过OPENAPI_SIGN_HASH环境变量来设置，默认为MD5，可选值为MD5, SHA256。\n\n最终得到最终发送的数据：\n\n```\nappid： wxd930ea5d5a258f4f\nmch_id： 10000100\ndevice_info： 1000\nbody： { a: \"test\" }\nnonce_str： ibuaiVcKdpRxkhJA\nsign: 9A0A8659F005D6984697E2CA0A9CF3B7\n```\n\n\n## 指标说明\n\n指标分为效率类，质量类，JIRA类，其他类。\n\n### Codebase Growth\n\n代码增速，最近一个月开发价值增长的斜率，项目增速的指标，此指标可用于建立团队开发速度的基准。\nselectColumn传递 velocity ，即可获得最近一个月代码增速相对于整个历史的水平。\n注意，UI界面上展示的是归一化以后的velocity，Openapi中给出的是原始值。\n更多说明请联系我司客户成功经理，获取更多文档。\n\n\n## 权限说明：\n\n1. 授权一个项目组后，即可访问该项目组下所有项目组和项目\n2. 授权给一个团队时，也相当于同时授权给该团队的所有父团队\n3. openapi 查询时，只会返回直接授权的权限，不会返回继承的权限\n\n",
    "version": "3.150.1 - eb4d3fb8"
  },
  "servers": [
    {
      "url": "http://metrics.digitalvolvo.com/openapi/",
      "description": "DevInsight demo server"
    }
  ],
  "paths": {
    "/account/query-efficiency-metric": {
      "post": {
        "summary": "以Account聚合获取效率指标",
        "description": "以Account聚合获取效率指标",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DeveloperEfficiencyMetricResponse"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "accountIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "AccountId列表"
                      },
                      "options": {
                        "type": "object",
                        "$ref": "#/components/schemas/AccountEfficiencyMetricOptions"
                      }
                    },
                    "type": "object",
                    "required": [
                      "accountIds",
                      "options"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/query-quality-metric": {
      "post": {
        "summary": "以Account聚合获取质量指标",
        "description": "以Account聚合获取质量指标",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DeveloperQualityMetricResponse"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "accountIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "AccountId列表"
                      },
                      "options": {
                        "type": "object",
                        "$ref": "#/components/schemas/QualityMetricColumns"
                      }
                    },
                    "type": "object",
                    "required": [
                      "accountIds",
                      "options"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/list": {
      "post": {
        "summary": "查询账户列表",
        "description": "查询账户列表， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FindAccountResponse"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthSignature"
              }
            }
          }
        }
      }
    },
    "/account/query": {
      "post": {
        "summary": "查询账户信息",
        "description": "查询账户信息， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/FindAccountResponse"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "AccountId"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/add": {
      "post": {
        "summary": "添加账户",
        "description": "添加账户， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/NewAccount"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255,
                        "description": "姓名"
                      },
                      "email": {
                        "format": "email",
                        "type": "string",
                        "maxLength": 255,
                        "description": "用户主邮箱地址"
                      },
                      "jobNumber": {
                        "type": "string",
                        "description": "工号"
                      },
                      "title": {
                        "type": "string",
                        "description": "职位"
                      },
                      "salary": {
                        "type": "number",
                        "description": "薪资"
                      },
                      "rank": {
                        "type": "string",
                        "description": "职级"
                      },
                      "promotionDate": {
                        "type": "integer",
                        "description": "晋升日期, ms时间戳"
                      },
                      "teamIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "所属团队ID列表"
                      },
                      "roleIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "用户角色ID列表"
                      },
                      "projectIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "项目ID列表"
                      }
                    },
                    "type": "object",
                    "required": [
                      "name",
                      "email"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/update": {
      "post": {
        "summary": "更新账户",
        "description": "更新账户， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/UpdateAccountResponse"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "AccountId"
                      },
                      "name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "姓名"
                      },
                      "emails": {
                        "items": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "type": "array",
                        "description": "用户邮箱地址列表(替换掉用户的副邮箱设置)"
                      },
                      "tags": {
                        "items": {
                          "$ref": "#/components/schemas/AccountTag"
                        },
                        "type": "array",
                        "description": "自定义标签"
                      },
                      "jobNumber": {
                        "type": "string",
                        "description": "工号"
                      },
                      "title": {
                        "type": "string",
                        "description": "职位"
                      },
                      "salary": {
                        "type": "number",
                        "description": "薪资"
                      },
                      "rank": {
                        "type": "string",
                        "description": "职级"
                      },
                      "promotionDate": {
                        "type": "integer",
                        "description": "晋升日期, ms时间戳"
                      },
                      "teamIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "所属团队ID列表"
                      },
                      "roleIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "用户角色ID列表"
                      },
                      "projectIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "项目ID列表"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/delete": {
      "post": {
        "summary": "删除账户",
        "description": "删除账户， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/UpdateAccountResponse"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "AccountId"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/update-status": {
      "post": {
        "summary": "更新账户状态（启用/禁用，登陆/非登陆）",
        "description": "更新账户状态（启用/禁用，登陆/非登陆）， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/UpdateAccountResponse"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "AccountId"
                      },
                      "enable": {
                        "type": "boolean",
                        "description": "用户账户是否启用"
                      },
                      "allowLogin": {
                        "type": "boolean",
                        "description": "用户账户是否可登录"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/add-repos": {
      "post": {
        "summary": "添加账户代码仓库权限",
        "description": "添加账户代码仓库权限， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/UpdateAccountReposResponse"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "AccountId"
                      },
                      "repoIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "代码仓库ID列表"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id",
                      "repoIds"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/remove-repos": {
      "post": {
        "summary": "删除账户代码仓库权限",
        "description": "删除账户代码仓库权限， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/UpdateAccountReposResponse"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "AccountId"
                      },
                      "repoIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "代码仓库ID列表"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id",
                      "repoIds"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/update-repos": {
      "post": {
        "summary": "更新（覆盖）账户的代码仓库权限",
        "description": "更新（覆盖）账户的代码仓库权限， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/UpdateAccountReposResponse"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "AccountId"
                      },
                      "repoIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "代码仓库ID列表"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id",
                      "repoIds"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/update-teams": {
      "post": {
        "summary": "更新（覆盖）账户的团队权限",
        "description": "更新（覆盖）账户的团队权限， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/UpdateAccountTeamsResponse"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "账户ID"
                      },
                      "teamIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "团队ID列表"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id",
                      "teamIds"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/update-projects": {
      "post": {
        "summary": "更新（覆盖）账户的项目权限",
        "description": "更新（覆盖）账户的项目权限， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/UpdateAccountProjectsResponse"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "账户ID"
                      },
                      "projectIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "项目ID列表"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id",
                      "projectIds"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/reset-password": {
      "post": {
        "summary": "将用户密码重置为随机字符串并返回",
        "description": "将用户密码重置为随机字符串并返回， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/ResetPasswordResponse"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "账户ID"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/update-email": {
      "post": {
        "summary": "更新用户主邮箱",
        "description": "更新用户主邮箱， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserIDResponse"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "账户ID"
                      },
                      "email": {
                        "maxLength": 255,
                        "type": "string",
                        "format": "email",
                        "description": "Email"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id",
                      "email"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/batch-query-team-history": {
      "post": {
        "summary": "获取用户团队信息历史",
        "description": "获取用户团队信息历史， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members，system-config -> group，system-config -> squad]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountTeamHistory"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "accountEmails": {
                        "items": {
                          "format": "email",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "账户邮箱"
                      }
                    },
                    "type": "object",
                    "required": [
                      "accountEmails"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/batch-reset-team": {
      "post": {
        "summary": "批量添加用户到团队",
        "description": "批量添加用户到团队， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members，system-config -> squad]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountTeamHistory"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "items": {
                        "items": {
                          "$ref": "#/components/schemas/ResetTeamRequest"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object",
                    "required": [
                      "items"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/exclude-commit-author": {
      "post": {
        "summary": "将提交作者emails加入黑名单",
        "description": "将提交作者emails加入黑名单， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "emails": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array",
                        "description": "贡献者邮箱"
                      }
                    },
                    "type": "object",
                    "required": [
                      "emails"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/account/include-commit-author": {
      "post": {
        "summary": "将提交作者emails移出黑名单",
        "description": "将提交作者emails移出黑名单， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> members]",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "emails": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array",
                        "description": "贡献者邮箱"
                      }
                    },
                    "type": "object",
                    "required": [
                      "emails"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/add": {
      "post": {
        "summary": "创建代码库",
        "description": "创建代码库， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> repositories，system-config -> analysis]",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/RepoIdQuery"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "gitUrl": {
                        "minLength": 1,
                        "type": "string",
                        "maxLength": 255,
                        "description": "代码库Git地址"
                      },
                      "privateKey": {
                        "type": "string",
                        "description": "访问私有Git仓库的私钥，PEM格式字符串"
                      },
                      "username": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "访问私有Git仓库的用户名"
                      },
                      "password": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "访问私有Git仓库的密码"
                      },
                      "defaultRef": {
                        "type": "string",
                        "description": "默认分支"
                      },
                      "projectId": {
                        "type": "string",
                        "description": "代码库所属项目ID，空值表示在根项目下创建"
                      }
                    },
                    "type": "object",
                    "required": [
                      "gitUrl"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/delete": {
      "post": {
        "summary": "删除代码库",
        "description": "删除代码库， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> repositories，system-config -> analysis]",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/RepoIdQuery"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "代码库ID"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/query-efficiency-metric": {
      "post": {
        "summary": "以代码库聚合获取效率metric",
        "description": "以代码库聚合获取效率metric",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RepoEfficiencyMetricResponse"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "repoIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "代码库ID列表"
                      },
                      "options": {
                        "$ref": "#/components/schemas/EfficiencyParam",
                        "type": "object"
                      }
                    },
                    "type": "object",
                    "required": [
                      "repoIds",
                      "options"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/branch/query-efficiency-metric": {
      "post": {
        "summary": "按照commit hash范围获取效率metric",
        "description": "按照commit hash范围获取效率metric",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RepoHashMetricResponse"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "repoId": {
                        "format": "uuid",
                        "type": "string",
                        "description": "代码库ID"
                      },
                      "includePath": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array",
                        "description": "包含的目录列表（相对项目根目录的文件路径前缀）；传递此参数后selectColumn只支持devValue和devEquivalent"
                      },
                      "excludePath": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array",
                        "description": "排除的目录列表（相对项目根目录的文件路径前缀）；传递此参数后selectColumn只支持devValue和devEquivalent"
                      },
                      "options": {
                        "$ref": "#/components/schemas/BranchEfficiencyParam",
                        "type": "object"
                      }
                    },
                    "type": "object",
                    "required": [
                      "repoId",
                      "options"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/hash/query-efficiency-metric": {
      "post": {
        "summary": "通过git rev-list筛选commit-hash列表，获取效率metric",
        "description": "通过git rev-list筛选commit-hash列表，获取效率metric",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RepoHashMetricResponse"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "repoRevMap": {
                        "additionalProperties": {
                          "$ref": "#/components/schemas/ProjectHashParam"
                        },
                        "description": "选择代码库的hash的一个Map。其中Key为RepoID，Value中的ProjectHashParam对象定义了一组应用于`git rev-list`命令的参数，来指定一组commit hash",
                        "type": "object",
                        "example": {
                          "16556370-1743-4dcf-aa5f-300854fc5113": {
                            "revList": [
                              "master",
                              "^develop",
                              "cf25a4a88699ea3a0422b175a38629cd3fe01adc..2ad3b167cb298941ce7c5d160e350609558905c4"
                            ],
                            "maxCount": 100
                          }
                        }
                      },
                      "repoFolderFilter": {
                        "additionalProperties": {
                          "$ref": "#/components/schemas/ProjectFolderFilter"
                        },
                        "description": "设置代码库的目录过滤规则。其中Key为RepoID，Value中指定统计结果包含或排除的目录列表",
                        "type": "object",
                        "example": {
                          "16556370-1743-4dcf-aa5f-300854fc5113": {
                            "includePath": [
                              "scripts/",
                              "app/"
                            ],
                            "excludePath": [
                              "test/"
                            ]
                          }
                        }
                      },
                      "options": {
                        "$ref": "#/components/schemas/HashEfficiencyParam",
                        "type": "object"
                      }
                    },
                    "type": "object",
                    "required": [
                      "repoRevMap",
                      "options"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/query-quality-metric": {
      "post": {
        "summary": "以代码库聚合获取质量metric",
        "description": "以代码库聚合获取质量metric",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RepoQualityMetricResponse"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "repoIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "代码库ID列表"
                      },
                      "options": {
                        "$ref": "#/components/schemas/QualityMetricColumns",
                        "type": "object"
                      },
                      "dateQuery": {
                        "$ref": "#/components/schemas/QualityDateQuery",
                        "description": "查询时间范围"
                      }
                    },
                    "type": "object",
                    "required": [
                      "repoIds",
                      "options"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/query-quality-metrics-graph-for-developers": {
      "post": {
        "summary": "查询贡献者的质量报表",
        "description": "查询贡献者的质量报表",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/QualityMetricsForDevelopersResp"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "recentPeriod": {
                        "$ref": "#/components/schemas/FilterPeriod"
                      },
                      "timeRange": {
                        "items": {},
                        "minItems": 1,
                        "type": "array",
                        "maxItems": 2,
                        "description": ""
                      },
                      "records": {
                        "items": {
                          "$ref": "#/components/schemas/DeveloperQualityMetricFilterValue"
                        },
                        "type": "array"
                      },
                      "limit": {
                        "type": "integer"
                      }
                    },
                    "type": "object",
                    "required": [
                      "records"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/query-quality-metrics-graph": {
      "post": {
        "summary": "查询项目或代码库的质量报表",
        "description": "查询项目或代码库的质量报表",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/QualityMetricsResp"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "recentPeriod": {
                        "$ref": "#/components/schemas/FilterPeriod"
                      },
                      "timeRange": {
                        "items": {},
                        "minItems": 1,
                        "type": "array",
                        "maxItems": 2,
                        "description": ""
                      },
                      "records": {
                        "items": {
                          "$ref": "#/components/schemas/QualityMetricFilterValue"
                        },
                        "type": "array"
                      },
                      "limit": {
                        "type": "integer"
                      }
                    },
                    "type": "object",
                    "required": [
                      "records"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/query": {
      "post": {
        "summary": "查询已经添加的代码库",
        "description": "查询已经添加的代码库， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> repositories，system-config -> analysis，toolbox -> large-screen]",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/GetRepoResp"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "代码库ID"
                      },
                      "gitUrl": {
                        "type": "string",
                        "description": "代码库Git地址"
                      },
                      "page": {
                        "type": "integer",
                        "description": "页数, 默认为1"
                      },
                      "pageSize": {
                        "maximum": 100000,
                        "type": "integer",
                        "description": "每页记录书, 默认为最大值100,000"
                      }
                    },
                    "type": "object"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/list": {
      "post": {
        "summary": "查询代码库列表",
        "description": "查询代码库列表， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> repositories，system-config -> analysis，toolbox -> large-screen]",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RepoItem"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthSignature"
              }
            }
          }
        }
      }
    },
    "/repo/commit/list": {
      "post": {
        "summary": "查询commit列表接口",
        "description": "查询commit列表接口",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RepoCommitListItem"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "代码库ID"
                      },
                      "page": {
                        "type": "integer",
                        "description": ""
                      },
                      "pagesize": {
                        "maximum": 100000,
                        "type": "integer",
                        "description": "废弃，请使用pageSize代替"
                      },
                      "pageSize": {
                        "maximum": 100000,
                        "type": "integer",
                        "description": "每页记录数（默认为最大值100000）"
                      },
                      "authorTimestampFrom": {
                        "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
                        "type": "string",
                        "description": "格式为 ISO，如 2017-10-09T07:26:45.000Z 创建开始日期，可选，包含"
                      },
                      "authorTimestampTo": {
                        "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
                        "type": "string",
                        "description": "格式为 ISO，如 2017-10-09T07:26:45.000Z 创建结束日期，可选，不包含"
                      },
                      "commitTimestampFrom": {
                        "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
                        "type": "string",
                        "description": "格式为 ISO，如 2017-10-09T07:26:45.000Z 提交开始日期，可选，包含"
                      },
                      "commitTimestampTo": {
                        "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
                        "type": "string",
                        "description": "格式为 ISO，如 2017-10-09T07:26:45.000Z 提交结束日期，可选，不包含"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/commit/list-by-commit-label": {
      "post": {
        "summary": "根据标签组查询commit指标",
        "description": "如果一个commit有2个label_value，返回结果里会有两条commit记录，label_value不同。",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/RepoCommitListByCommitLabelResponse"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "repoIds": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "代码库ID列表，与项目ID二选一，都填写默认使用repoIds"
                      },
                      "projectId": {
                        "type": "string",
                        "description": "代码库所属项目ID，与代码库ID列表二选一，都填写默认使用repoIds"
                      },
                      "groupNames": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array",
                        "description": "标签组名"
                      },
                      "labelValues": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array",
                        "description": "标签"
                      },
                      "commitStartTime": {
                        "format": "date-time",
                        "type": "string",
                        "description": "Commit起始时间，例如：2022-04-01T07:35:54.413Z"
                      },
                      "commitEndTime": {
                        "format": "date-time",
                        "type": "string",
                        "description": "Commit截止时间，例如：2022-04-01T07:35:54.413Z"
                      },
                      "page": {
                        "minimum": 1,
                        "type": "integer",
                        "description": "页数"
                      },
                      "pageSize": {
                        "maximum": 1000,
                        "type": "integer",
                        "minimum": 1,
                        "description": "每页大小(最大值1000)"
                      }
                    },
                    "type": "object",
                    "required": [
                      "page",
                      "pageSize"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/commit/list-by-hash": {
      "post": {
        "summary": "根据hash查询commit列表接口",
        "description": "根据hash查询commit列表接口",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RepoCommitListByHashItem"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "queries": {
                        "items": {
                          "$ref": "#/components/schemas/RepoIdHash"
                        },
                        "type": "array",
                        "minItems": 1,
                        "description": "查询条件"
                      }
                    },
                    "type": "object",
                    "required": [
                      "queries"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/commit/get-changes": {
      "post": {
        "summary": "查询单个commit的变化详情",
        "description": "查询单个commit的变化详情",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/CommitChangeResp"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "useGit": {
                        "type": "boolean",
                        "description": "是否用git的数据源"
                      },
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "代码库ID"
                      },
                      "hash": {
                        "type": "string",
                        "description": "commit hash"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id",
                      "hash"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/commit/list-changes": {
      "post": {
        "summary": "查询多个commit的变化详情",
        "description": "与get-changes接口的区别是：1. 支持通过hashList或时间范围批量获取；2. 没有useGit参数，减少git命令的操作。\n分析参数中被排除的commit、MergeCommit，以及其他被分析引擎跳过的commit不会返回。",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListCommitChangesResp"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "代码库ID"
                      },
                      "page": {
                        "type": "integer",
                        "description": "页数"
                      },
                      "pageSize": {
                        "maximum": 500,
                        "type": "integer",
                        "description": "每页记录数（默认为最大值500）"
                      },
                      "authorTimestampFrom": {
                        "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
                        "type": "string",
                        "description": "格式为 ISO，如 2017-10-09T07:26:45.000Z 创建开始日期，可选，包含"
                      },
                      "authorTimestampTo": {
                        "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
                        "type": "string",
                        "description": "格式为 ISO，如 2017-10-09T07:26:45.000Z 创建结束日期，可选，不包含"
                      },
                      "commitTimestampFrom": {
                        "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
                        "type": "string",
                        "description": "格式为 ISO，如 2017-10-09T07:26:45.000Z 提交开始日期，可选，包含"
                      },
                      "commitTimestampTo": {
                        "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
                        "type": "string",
                        "description": "格式为 ISO，如 2017-10-09T07:26:45.000Z 提交结束日期，可选，不包含"
                      },
                      "hashList": {
                        "items": {},
                        "maxItems": 500,
                        "type": "array",
                        "description": "如果指定了hashList参数，会忽略时间筛选器和分页参数, 一次最多500个commit hash"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/commit/get-changes-function": {
      "post": {
        "summary": "[Beta]获取 commit 变更函数",
        "description": "[Beta]获取 commit 变更函数",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/CommitFuntionChangeResp"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "代码库ID"
                      },
                      "hash": {
                        "type": "string",
                        "description": "commit hash"
                      },
                      "pageSize": {
                        "maximum": 1000,
                        "type": "integer",
                        "description": "分页单页数量(最大值1000)"
                      },
                      "current": {
                        "type": "integer",
                        "description": "分页页码"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id",
                      "hash",
                      "pageSize",
                      "current"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/commit/get-punish": {
      "post": {
        "summary": "[Beta]获取 commit 文件惩罚信息",
        "description": "[Beta]获取 commit 文件惩罚信息",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CommitFilePunishInfo"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "代码库ID"
                      },
                      "hash": {
                        "type": "string",
                        "description": "commit hash"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id",
                      "hash"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/commit/update-remark": {
      "post": {
        "summary": "修改提交备注",
        "description": "修改提交备注， 本方法需要登录账户拥有至少以下一个workspace的权限: [developer-performance -> commits]",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/CommitRemark"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "repoId": {
                        "type": "string",
                        "description": "代码库ID"
                      },
                      "hash": {
                        "type": "string",
                        "description": "提交散列"
                      },
                      "remark": {
                        "type": "string",
                        "description": "备注"
                      }
                    },
                    "type": "object",
                    "required": [
                      "repoId",
                      "hash",
                      "remark"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/start-analysis": {
      "post": {
        "summary": "开始分析",
        "description": "开始分析， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> analysis]",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/AnalyzeResp"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "RepoId, 与ids字段二选一，不能同时为空"
                      },
                      "ids": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "RepoId列表, 与id字段二选一，不能同时为空"
                      },
                      "forceAnalyze": {
                        "type": "boolean",
                        "description": "是否强制重新分析，默认为 false"
                      }
                    },
                    "type": "object",
                    "description": "请求的id和ids字段二选一，不能同时为空"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/terminate-analysis": {
      "post": {
        "summary": "停止分析",
        "description": "停止分析， 本方法需要登录账户拥有至少以下一个workspace的权限: [system-config -> analysis]",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/AnalyzeResp"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "ids": {
                        "items": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": "array",
                        "description": "代码库ID列表"
                      }
                    },
                    "type": "object",
                    "required": [
                      "ids"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/get-emails": {
      "post": {
        "summary": "查询邮箱",
        "description": "查询邮箱",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/GetEmailResp"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSignature"
                  },
                  {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string",
                        "description": "代码库ID"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/repo/query-auth": {
      "post": {
        "summary": "查询授权情况",
        "description": "查询授权情况",
        "tags": [
          "Repo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/ResourceAuthInfo"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "data"
                  ]
[...]
